/***** Hero component *****/
.hero {
  padding: 20px;
  text-align: center;
  width: 100%;

  &-inner {
    max-width: 610px;
    margin: 0 auto;
  }

  &-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
    opacity: 0.85;
  }
}
